/* Trangchu.module.css */

.container {
  font-family: Arial, sans-serif;
}

.tourContainer {
  padding: 20px;
}

.heading {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.tourList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.tourItem {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.tourBox {
  padding: 15px;
  text-align: center;
}

.imageContainer {
  position: relative;
}

.tourImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.infoButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.tourTitle {
  font-size: 1.5em;
  margin-top: 10px;
}

.tourBox p {
  font-size: 1em;
  margin: 10px 0;
}

.bookButton {
  display: inline-block;
  background-color: #28a745;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.bookButton:hover {
  background-color: #218838;
}

/* Modal Styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
}

.modalImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
}

.closeButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.carousel {
  text-align: center;
  margin: 20px auto;
  position: relative;
}

.carouselImage {
  width: 80%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carouselTitle {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}